<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      type="text/javascript"
      src="https://www.google.com/books/jsapi.js"
    ></script>
    <script type="text/javascript">
      google.books.load();
    </script>
    <title>Book C Notes Platform</title>
  </head>
  <body>
    <h1>Your books</h1>

    <!-- Form for adding books -->
    <form class="book-card" action="/books" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required />
      <button type="submit">Add Book</button>
    </form>

    <!-- List of Books -->
    <h2>List of Books You Have Read:</h2>
    <ul class="book-list">
      <% if (dbData.length > 0) { %> <% dbData.forEach(book => { %>
      <li>
        <span class="book-title">Book Title:</span> <%= book.title %>
        <span class="author">Author:</span> <%= book.author %>

        <!-- Display book cover image -->

        <div id="viewerCanvas">
          <% if (book.image_link) { %>
          <img src="<%= book.image_link %>" alt="Book Cover" />
          <% } else { %>
          <!-- Display a placeholder image or a message -->
          <span class="error-message">Cover image not available</span>
          <% } %>
        </div>
        <!-- Form for deleting the book -->
        <form
          id="deleteForm_<%= book.book_id %>"
          action="/books/<%= book.book_id %>"
          method="post"
          style="display: inline;"
        >
          <input type="hidden" name="_method" value="delete" />
          <button type="button" onclick="deleteBook('<%= book.book_id %>')">
            Delete
          </button>
        </form>
        <!-- End of delete button code -->
      </li>
      <% }); %> <% } else { %>
      <li>No books found</li>
      <% } %>
    </ul>

    <script src="/js/main.js"></script>
  </body>
</html>
