
  <%- include('partials/header') %>
  
  <body>
  <button class="logout-button" onclick="logout()">Logout</button>
  
   <h2 class="welcomeName">welcome <%= users.first_name %></h2>

      
    <form class="book-card" action="/books" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required />
      <!-- Add a hidden input field to include the user_id -->
      <input type="hidden" id="user_id" name="user_id" value="<%= user_id %>" />

      <button type="submit">Add Book</button>
    </form>

    <!-- List of Books -->
 <h2 class="countBook">You have read <span id="bookCount"><%= dbData.length %></span> books, keep up the good work, friend!</h2>

      
 <ul class="book-list">
  <% if (dbData.length > 0) { %> 
    <% dbData.forEach(book => { %>
      <li class="book">
        <form id="deleteForm_<%= book.book_id %>" action="/books/<%= book.book_id %>" method="post" class="delete-form">
          <input type="hidden" name="_method" value="delete" />
          <button class="deleteButton" type="button" onclick="deleteBook('<%= book.book_id %>')">Delete</button>
        </form>
        <div class="book-cover">
          <% if (book.image_link) { %>
            <img src="<%= book.image_link %>" alt="Book Cover" />
          <% } else { %>
            <span class="error-message">Cover image not available</span>
          <% } %>
        </div>
        <div class="book-details">
          <span class="book-title">Book Title:</span> <%= book.title %>
          <span class="author">Author:</span> <%= book.author %>
        </div>
      </li>
    <% }); %> 
  <% } else { %>
    <li>No books found</li>
  <% } %>
</ul>



    <script src="/js/main.js"></script>
  </body>
    <%- include('partials/footer') %>
</html>
